
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.container{
  max-width: 1140px;
  margin: auto;
}

header{
  right: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 3px 6px 0 rgb(56 55 55 / 5%);
  background-color: #fff;
  width: 100%;
}
.logo a{
  text-decoration: none;
  color: #dc4f72;
  font-size: 25px;
  font-weight: 700;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}
.navbar-brand{
  font-size: 17px;
  padding-left: 10px;
  color: #5a5a5a;
  position: relative;
}
.navbar-brand:hover{
  color: #f55f8d;
}
.header_content .navbar-brand::before{
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #dc4f72;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
.header_content .navbar-brand:hover::before{
  width: 100%;
}
.nav-link{
  font-size: 17px;
  padding-left: 10px;
  color: #5a5a5a;
  position: relative;
}
.nav-link:hover{
  color: #f55f8d;
}
.header_content .nav-link::before{
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #dc4f72;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
.header_content .nav-link:hover::before{
  width: 100%;
}
.dropdown-item{
  position: relative;
}
.dropdown-item:hover{
  color: #f55f8d;
}
.header_content .dropdown-item::before{
  content: "";
  position: absolute;
  background-color: #dc4f72;
  width: 0px;
  height: 2px;
  bottom: 5px;
  transition: all 0.5s;
}
.header_content .dropdown-item:hover::before{
  width: 20%;
}
.active{
  color: #dc4f72;
}

.glass i{
  font-size: 16px;
  border: 1px solid #eee;
  background-color: #F7F9FC;
  color: #5a5a5a;
  margin: 0 15px;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 50px;
  opacity: .7;
}
.glass i:hover{
  color: black;
}
.header_content .btn{
  line-height: 50px;
  padding: 0px 25px;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  background-color: white;
  color: #dc4f72;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.5s;
}
.header_content .btn:hover{
  background-color: #dc4f72;
  color: white;
}
.moon{
  margin-left: 15px;
  font-size: 25px;
}

/* carousel */
.carousel{
  background-image:linear-gradient(to right, rgba(255, 255, 255, 0.92),rgba(255, 255, 255, 0.92)), url(./te.jpg);
  background-attachment: fixed;
  padding-top: 180px;
  overflow: hidden;
  background-position: top;
  background-size: 100%;
}
.carousel_content{
  display: flex;
  align-items: center;
}
.carousel_title h1{
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
}
.carousel_title p{
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #5a5a5a;
}
.carousel_title button{
  line-height: 50px;
  padding: 0px 28px;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  background-color: white;
  color: #dc4f72;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.5s;
}
.carousel_title button:hover{
  background-color: #dc4f72;
  color: white;
}

/* professional */
.professional{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.title .sub_title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
}
.title h2{
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.title p{
  margin-top: 20px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #5a5a5a;
}
.professional_content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
  text-align: center;
}
.professional_item{
  background-color: #F7F9FC;
  padding: 35px;
  border-radius: 5px;
  transform: translateY(0);
  transition: all 0.5s;
}
.professional_item:hover{
  transform: translateY(-20px);
  background-color: white;
  box-shadow:  0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.professional_item h3{
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
  margin-top: 20px;
}
.professional_item p{
  margin-top: 15px;
  font-size: 16px;
  line-height: 25px;
  color: #5a5a5a;
}

/* about */
.about{
  background-color: #F7F9FC;
  padding: 70px 0;
}
.about_content{
  display: flex;
  align-items: center;
  
}
.about_left{
  width: 60%;
}
.about_content h2{
  font-size: 35px;
}
.about_left button{
  line-height: 50px;
  padding: 0px 28px;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  background-color: #dc4f72;
  color: white;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.5s;
}
.about_left button:hover{
  background-color: #ba254a;
}
.about_right{
  width: 50%;
}
.about_right img{
  width: 100%;
  border-radius: 5px;
  transform: translateY(0);
  transition: all 0.5s;
  
}
.about_right img:hover{
  transform: translateY(-10px);
  border-radius: 5px;
}

/* number */
.number {
  background: #f7f9fc; 
  padding: 1px 0 70px 0;
}
.number_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;  
}
.number_item{
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow:  0 0.5rem 1rem rgb(0 0 0 / 20%);
}
.number_item h4 {
  font-size: 15px;
  font-weight: 700;
}
.number_item span {
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  color: #dc4f72;
  margin-bottom: 15px;
  margin-top: 10px;
}
.number_item p {
 color: #5a5a5a;
}

/* section */
.section{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(./bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  align-items: center;
  min-height: 480px;
}

.section_content .title h2{
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  color: white;
  width: 530px;
}
.section_content .title p{
  font-size: 16px;
  line-height: 25px;
  color: white;
  width: 550px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.section_content .title button{
  line-height: 50px;
  padding: 0px 28px;
  border-radius: 5px;
  background-color: white;
  font-weight: 700;
  font-size: 15px;
}
.section_content .title button:hover{
  background-color: #f8f9fa;
}

/* faqs */
.faqs{
  background-color: #F7F9FC;
}
.faqs .title{
  text-align: center;
  padding-top: 90px;
}
.faqs_img{
  width: 450px;
  padding-right: 50px;

}
.faqs_img img{
  width: 100%;
  border-radius: 5px;
  transform: translateY(0);
  transition: all 0.5s;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.faqs_img img:hover{
  transform: translateY(-10px);
  border-radius: 5px;
}
.accordion{
  width: 500px;
  
}
.accordion-item{
  margin-bottom: 15px;
  border: 1px solid #eee;

}
.accordion-item .accordion-button{
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  background: white;
  padding: 15px 40px 25px 15px;
}
.accordion-body{
  color: #5a5a5a;
}

/* frojects */
.frojects{
  margin-top: 50px;
}
.frojects .title{
  text-align: center;
}
.frojects_content ul{
  justify-content: center;
  border: none; 
}
.frojects_content .nav-item button.active{
  color: #dc4f72;
  border: none; 
  border-bottom: 3px solid #dc4f72;
}
.frojects_content .nav-item button{
  color: black;
  font-size: 22px;
  font-weight: bold;
  padding-left: 100px;
  padding-right: 100px;
  border: none;
  border-bottom: 3px solid #e9ecef;
}
.row{
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
}
.frojects_text{
  width: 50%;
}
.frojects_text h3{
  font-weight: bold;
}
.frojects_text p{
  color: #5a5a5a;
}

.frojects_text button{
  line-height: 50px;
  padding: 0px 28px;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  background-color: white;
  color: #dc4f72;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.5s;
}
.frojects_text button:hover{
  background-color: #dc4f72;
  color: white;
}
.frojects_item{
  width: 50%;
}
.frojects_item img{
  width: 100%;
  border-radius: 5px;
  transform: translateY(0);
  transition: all 0.5s;
}
.frojects_item img:hover{
  transform: translateY(-10px);
}

/* testimonials */
.testimonials{
  background-image:linear-gradient(to right, rgba(255, 255, 255, 0.92),rgba(255, 255, 255, 0.92)), url(./b2.jpg);
  background-attachment: fixed;
  padding-top: 180px;
  overflow: hidden;
  background-position: top;
  background-size: 100%;
  padding: 40px 0;
}
.testimonials .title{
  text-align: center;
  margin-bottom: 50px;
}
.multiple-items{
  margin: 0 150px;
}
.testimonials_item{
  background-color: white;
  color: black;
  padding: 30px;
  margin: 0 15px;
  border-radius: 5px;
}
.item_img{
  width: 100px;
  height: 100px;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
  float: left;
}
.item_img img{
  width: 100%;
}
.icon{
  overflow: hidden;
  float: left;
  background-color: white;
  border: none;
  font-size: 40px;
  opacity: 0.2;
  padding: 0 10px;
}
.message{
  overflow: hidden;
}
.message p{
  font-size: 18px;
}
.message .name h4{
  color: #dc4f72;
  font-size: 17px;
}
.message .name p{
  font-size: 13px;
  color: #5a5a5a;
}
.testimonials .slick-dots li button::before{
  font-size: 20px;
  color: white;
  margin-top: 20px;
}
.testimonials .slick-dots li.slick-active button::before{
  color: #dc4f72;
}

/* community */
.community{
  text-align: center;
  margin: 70px;
}
.community_btn button{
  background-color: #dc4f72;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  color: white;
  padding: 15px 25px;
  margin-top: 40px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.5s;
}
.community_btn button:hover{
  background-color: #ba254a;
}
.community_btn .btn-1{
 background-color: white;
 color: #dc4f72;
}
.community_btn .btn-1:hover{
  background-color: #dc4f72;
  color: white;
}

/* footer */
footer{
  background-color: #F7F9FC;
  display: flex;
}
.footer_top{
  display: flex;
  padding: 50px 0;
  position: relative;
}
.footer_item{
  width: 18%;
}
.footer_item h3{
  font-size: 20px;
  font-weight: 700;
}
.footer_item ul{
  display: inline;
}
.footer_item li {
  list-style: none;
}
.footer_item li a{
  color: #656f7b;
  font-size: 15px;
  line-height: 35px;
  text-decoration: none;
}
.item_right{
  width: auto;
}
.footer_form{
  padding: 2em;
  background-color: white;
  border-radius: 5px;
  box-shadow:  1px 5px 7.5px rgba(14, 13, 13, 0.2);
  margin-top: 40px;
}
.footer_form h4{
  font-size: 17px;
  margin-bottom: 30px;
}
.footer_form input{
  background: #F7F9FC;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: #2C3038;
  font-weight: 600;
  border-radius: 5px;
}
.footer_form p{
  margin-top: 20px;
  color: #5a5a5a;
}
.footer_form button{
  background-color: #dc4f72;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 5px;
}
.footer_bottom{
  padding: 30px 0;
  position: relative;
  border-top: 1px solid #e9ecef;
}
.footer_content{
  display: flex;
  justify-content: space-between;
}
.footer_right a{
  color: #2C3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
footer a:hover{
  color: #dc4f72;
  transition: all .5s;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;  
  right: 15px;
  bottom: 15px;
  color: white;
  transition: all .2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
  text-decoration: none;
  visibility: visible;
  opacity: 1;
}
.backToTop:hover{
  background-color: #dc4f72;
  color: white;
}
