* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-0.5 * 1.5rem);
  margin-left: calc(-0.5 * 1.5rem);
}

/* header */

header {
  right: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 3px 6px 0 rgb(56 55 55 / 5%);
  background-color: #fff;
  width: 100%;
}
.logo a {
  text-decoration: none;
  color: #dc4f72;
  font-size: 25px;
  font-weight: 700;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}
.navbar-brand {
  font-size: 17px;
  padding-left: 10px;
  color: #5a5a5a;
  position: relative;
}
.navbar-brand:hover {
  color: #f55f8d;
}
.header_content .navbar-brand::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #dc4f72;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
.header_content .navbar-brand:hover::before {
  width: 100%;
}
.nav-link {
  font-size: 17px;
  padding-left: 10px;
  color: #5a5a5a;
  position: relative;
}
.nav-link:hover {
  color: #f55f8d;
}
.header_content .nav-link::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #dc4f72;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
.header_content .nav-link:hover::before {
  width: 100%;
}
.dropdown-item {
  position: relative;
}
.dropdown-item:hover {
  color: #f55f8d;
}
.header_content .dropdown-item::before {
  content: "";
  position: absolute;
  background-color: #dc4f72;
  width: 0px;
  height: 2px;
  bottom: 5px;
  transition: all 0.5s;
}
.header_content .dropdown-item:hover::before {
  width: 20%;
}
.active {
  color: #dc4f72;
}

.glass i {
  font-size: 16px;
  border: 1px solid #eee;
  background-color: #f7f9fc;
  color: #5a5a5a;
  margin: 0 15px;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 50px;
  opacity: 0.7;
}
.glass i:hover {
  color: black;
}
.header_content .btn {
  line-height: 50px;
  padding: 0px 25px;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  background-color: white;
  color: #dc4f72;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.5s;
}
.header_content .btn:hover {
  background-color: #dc4f72;
  color: white;
}
.moon {
  margin-left: 15px;
  font-size: 25px;
}
.breadcrumbs a {
  color: #dd5073;
  margin: 0 5px 0 0;
  font-size: 14px;
}
.header-fixed-space-height {
  margin-top: 90px;
}

/* //contacts12-main */
.align-items-center {
    align-items: center !important;
}


.w3l-contact {
    position: relative;
}
.header-section h2 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
img.img-curve:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}
.w3l-contact .contact-form {
    background: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    position: relative;
    left: -75px;
}
.header-section h3 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.w3l-contact input.contact-input, .w3l-contact textarea {
    outline: none;
    padding: 15px 20px;
    border-radius: 0;
    color: #2C3038;
    font-weight: 600;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #f8f9fa;
    background: #F7F9FC;
}
  

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.w3l-contact .contact-info-left {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}
.d-grid {
    display: grid;
}
.col-lg-6 .position-relative{
    width: 100%;
}
.col-lg-6 .position-relative .contact-form{
    display: flex;
    flex-direction: column;
}

.w3l-contact .contant11-top-bg {
    background: #F7F9FC;
}
.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.pt-5, .py-5 {
    padding-top: 3rem !important;
}
.w3l-contact button.btn {
    padding: 0px 50px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #d62f58 !important;
    border-color: #cf2952 !important;
}
.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.text-right {
    text-align: right !important;

}
.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.w3l-contact .contact-info {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    padding: 2rem;
    background: #fff;
    border-radius: 6px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    transition: 0.3s ease-in-out;
    text-align: center;
}
.w3l-contact .icon {
    width: 60px;
    margin: 0 auto;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    line-height: 60px;
    background: rgba(220, 79, 114, 0.1);
}
.w3l-contact .contact span.fa {
    font-size: 20px;
    color: #dc4f72;
    line-height: 60px;
}
.w3l-contact .contact span i{
    font-size: 20px;
    color: #dc4f72;
    line-height: 60px;
}
.w3l-contact .contact-info h4 {
    font-size: 20px;
    color: #2C3038;
    margin: 0px 0 10px 0;
    font-weight: 700;
}
.w3l-contact .contact p {
    font-size: 18px;
    color: #5a5a5a ;
    line-height: 28px;
    font-weight: 600;
}
.w3l-contact .contact-info:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}
.w3l-contact .contact a {
    display: block;
    color: #5a5a5a;
    transition: 0.3s ease-in;
    text-decoration: none;
}
.w3l-contact .contact a:hover {
    display: block;
    color: #dc4f72 !important;
    text-decoration: underline;
    transition: 0.3s ease-in;
}
.contact-info .contact-details a:last-of-type{
    font-size: 20px;
    display: block;
    color: #5a5a5a;
    
}

















/* footer */
footer {
  background-color: #f7f9fc;
  display: flex;
}
.footer_top {
  display: flex;
  padding: 50px 0;
  position: relative;
}
.footer_item {
  width: 18%;
}
.footer_item h3 {
  font-size: 20px;
  font-weight: 700;
}
.footer_item ul {
  display: inline;
}
.footer_item li {
  list-style: none;
}
.footer_item li a {
  color: #656f7b;
  font-size: 15px;
  line-height: 35px;
  text-decoration: none;
}
.item_right {
  width: auto;
}
.footer_form {
  padding: 2em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  margin-top: 40px;
}
.footer_form h4 {
  font-size: 17px;
  margin-bottom: 30px;
}
.footer_form input {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: #2c3038;
  font-weight: 600;
  border-radius: 5px;
}
.footer_form p {
  margin-top: 20px;
  color: #5a5a5a;
}
.footer_form button {
  background-color: #dc4f72;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 5px;
}
.footer_bottom {
  padding: 30px 0;
  position: relative;
  border-top: 1px solid #e9ecef;
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
.footer_right a {
  color: #2c3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
footer a:hover {
  color: #dc4f72;
  transition: all 0.5s;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
  text-decoration: none;
  visibility: visible;
  opacity: 1;
}
.backToTop:hover {
  background-color: #dc4f72;
  color: white;
}
